body{
  background-color: ivory;
  height: 100%;
  width: 100%;
}

header{
  position: fixed;
  background-color: ivory ;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  height: 10%;
}

* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  text-align: center;
}

#palette{
  position: fixed;
  z-index: 0;
  left: 0;
  top: 10%;
  width: 100%;
  height: 90%;
}

.paletteColors{
  position: relative;
  background-color: ivory;
  height: 10%;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
}

#colorBox{
  position: fixed;
  top: 10%;
  left: 2.5%;
  width: 95%;
  z-index: 1;
  height: 80%;
  background-color: red;
  border-radius: 25px;
}

#box{
  position: relative;
  text-align: center;
  top: 40%;
  vertical-align: middle;
}

#shadesBox{
  position: fixed;
  z-index: 2;
  left: 0;
  top: 10%;
  width: 100%;
  height: 90%;
  display: none;
}

.shade{
  position: relative;
  float: left;
  height: 100%;
  width: 20%;
  border: none;
}

.pickerButtonClass{
  background-color:white;
  height: 50%;
  width: 50px;
  border-radius: 20px;
}

footer{
  position: fixed;
  background-color: ivory;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 10%;
}